/*

.card#edu {
    height: 315px;
}
.card#skill {
    height: 315px;
}

.card#contact {
    height: 175px;
}
.card#experience {
    height: 175px;
}


@media screen and (max-width: 1054px) {
    .card#edu {
        height: 337px;
    }
    .card#skill {
        height: 337px;
    }
     .card#contact {
        height: 337px;
    }
    .card#experience {
        height: 337px;
    }
}

@media screen and (max-width: 966px) {
    .card#edu {
        height: 360px;
    }
    .card#skill {
        height: 360px;
    }
    .card#contact {
        height: 360px;
    }
    .card#experience {
        height: 360px;
    }
}

@media screen and (max-width: 932px) {
    .card#edu {
        height: 382px;
    }
    .card#skill {
        height: 382px;
    }
    .card#contact {
        height: 382px;
    }
    .card#experience {
        height: 382px;
    }
}

@media screen and (max-width: 924px) {
    .card#edu {
        height: 403px;
    }
    .card#skill {
        height: 403px;
    }
    .card#contact {
        height: 403px;
    }
    .card#experience {
        height: 403px;
    }
}

@media screen and (max-width: 800px) {
    .card#edu {
        height: 335px;
    }
    .card#skill {
        height: 335px;
    }
    .card#contact {
        height: 335px;
    }
    .card#experience {
        height: 335px;
    }
}

@media screen and (max-width: 695px) {
    .card#edu {
        height: 360px;
    }
    .card#skill {
        height: 360px;
    }
    .card#contact {
        height: 360px;
    }
    .card#experience {
        height: 360px;
    }
}

@media screen and (max-width: 671px) {
    .card#edu {
        height: 380px;
    }
    .card#skill {
        height: 380px;
    }
    .card#contact {
        height: 380px;
    }
    .card#experience {
        height: 380px;
    } 
}

@media screen and (max-width: 664px) {
    .card#edu {
        height: 403px;
    }
    .card#skill {
        height: 403px;
    }
    .card#contact {
        height: 403px;
    }
    .card#experience {
        height: 403px;
    }
}

@media screen and (max-width: 575px) {
    .card#edu {
        height: auto;
    }
    .card#skill {
        height: auto;
    }
    .card#contact {
        height: auto;
    }
    .card#experience {
        height: auto;
    }
}

*/

.card {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 1px #dadada;

    
}

.card-text#name{
    margin-top: 0px;
}

img#rectangle{
    float: left;
    height: 5rem;
    border-radius: 20%;
    margin-right: 20px;
}

@keyframes gradientShadow {
    0% {
      box-shadow: 0 0 20px 5px #ff9ec7; /* Pastel Pink */
    }
    50% {
      box-shadow: 0 0 20px 5px #d1b3ff; /* Pastel Violet */
    }
    100% {
      box-shadow: 0 0 20px 5px #ffb3b3; /* Pastel Red */
    }
  }


.card:hover {
    transform: scale(1.05);
    animation: gradientShadow 3s infinite alternate;
}
.card {
transition: transform 0.2s;
}

#name-title {
  font-size: 20px;
}

@media (min-width: 409px) { /* md and up */
  #name-title {
    font-size: 25px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}