<div class="card-desk" [class.dark-theme]="isDarkMode">
    
    <!-- Add this button block at the very top -->
    <!-- <div style="text-align: right;">
        <button class="btn btn-sm" (click)="toggleTheme()" 
                [ngClass]="isDarkMode ? 'btn-light' : 'btn-dark'">
          {{ isDarkMode ? '☀️ Light Mode' : '🌙 Dark Mode' }}
        </button>
    </div> -->

    <div class="card" id="name">
      <div class="card-body">
        <div style="display: flex; align-items: center;">

          <img id="rectangle" src="assets/profile.jpg" alt="Profile Picture">

          <div class="profile-info">
            <b id="name-title">Netipong Sanklar</b>
            <div class="card-text" style="font-size: 15px;">Sex: Male ♂️ <br> Age: {{this.realTimeAge}}</div>
          </div>

        </div>

        <div class="card-text" style="font-size: 15px; margin-top: 20px;" id="name">
            <b>Please call me "Jay"</b>
            <a href="https://www.linkedin.com/in/netipong-sanklar-05930231a/" target="_blank" rel="noopener noreferrer"><img id="scn-logo" style="height:19px; margin: 0px 3px 6px 6px; border-radius: 20%;" src="assets/linkedin.webp"></a>
            <a href="https://github.com/rememberurlie" target="_blank" rel="noopener noreferrer"><img id="scn-logo" style="height:19px; margin: 0px 3px 6px 3px; border-radius: 20%;" src="assets/github.webp"></a>
            <br>
            I'm Software Developer Luv'in Technology, IT Gadget and all about computer<br>
            I like to do photograph, video editing as my hobby.<br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-stretch">
        <div class="card w-100" id="edu">
          <div class="card-body">
              <div class="card-topic" style="color:rgb(255, 163, 226);">
                <b>Educational background</b>
              </div>
            <div class="card-text">
              <div style="font-size: 15px; padding-bottom: 15px;"><b>2022 - 2026</b><br>
                🔸B.S. (Information Technology and Digital Communication) &#64; RMUTT<br>
                🔹First Class Honors (GPAX 3.91)
              </div>
              <div style="font-size: 15px; padding-bottom: 15px;"><b>2014 - 2020</b><br>
                🔸Thanyaburi School (Grade 7 - Grade 12)
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6 d-flex align-items-stretch">
        <div class="card w-100" id="contact">
          <div class="card-body">
            <div class="card-topic" style="color:rgb(0, 204, 255);">
                <b>Contact</b>
              </div>
            <div class="card-text">
              <div style="font-size: 15px; padding-bottom: 7px;"><img style="height:11px; padding-right: 6px; margin-bottom: 2px;"src="assets/gmail.png"><b>Email</b><br>
                <a href="mailto:netipong.jj@gmail.com" target="_blank" rel="noopener noreferrer">netipong.jj&#64;gmail.com</a>
              </div>
              <div style="font-size: 15px; padding-bottom: 7px;"><img style="height:11px; padding-right: 5px; margin-bottom: 2px;" src="assets/discord.png"><b>Discord</b><br>
                <a href="https://discordapp.com/users/161111988141817857" target="_blank" rel="noopener noreferrer">rememberurlie</a>
              </div>
              <div style="font-size: 15px; "><img style="height:14px; padding-right: 5px; margin-bottom: 2.5px;" src="assets/ig.png"><b>Instagram</b><br>
                <a href="https://www.instagram.com/174eng_" target="_blank" rel="noopener noreferrer">174eng_</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  
    <div class="row" >
      <div class="col-12 col-md-6 d-flex align-items-stretch">
        <div class="card w-100" id="experience">
          <div class="card-body">
              <div class="card-topic" style="color:rgb(155, 94, 255);">
                <b>Work Experience</b>
              </div>
            <div class="card-text">
              <div style="font-size: 15px; padding-bottom: 15px;"><b>May 2026 - Present</b><br>
                 🔸<b>Software Engineer</b> at GAMEPLENG Co., Ltd.<br>
              </div>
              <div style="font-size: 15px; padding-bottom: 15px;"><b>July 2025 - October 2025</b><br>
                 🔸<b>Frontend Developer Intern</b> at Things Analytic Co., Ltd.<br>
              </div>
              <div style="font-size: 15px; padding-bottom: 5px;"><b>Extra work</b><br>
                🔸Phone Leasing and Ticket Reservation at <a href="https://x.com/dede_ja555" target="_blank" rel="noopener noreferrer"><img id="scn-logo" style="height:30px; padding-bottom: 3px; margin-left: -2px;" src="assets/x.png"></a><br>
                🔸Assistant Electrical Engineer at IBS Engineering Co., Ltd.<br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex align-items-stretch">
        <div class="card w-100" id="skill">
          <div class="card-body">
              <div class="card-topic" style="color:rgb(252, 206, 0);">
                <b>Skills</b>
              </div>
            <div class="card-text">
              <div style="font-size: 15px; padding-bottom: 15px;"><b>Programming</b><br>
              🔸 HTML / CSS / Bootstrap<br>
              🔸 Backend : Express.js, Next.js<br>
              🔸 Frontend : Angular, React.js, Next.js<br>
              🔸 Database : MySQL, Firebase, PostgreSQL (CLI)<br>
              </div>
              <div style="font-size: 15px; "><b>Other Skills (included hobby)</b><br>
              🎥 Video Editing : Adobe Premiere Pro, Capcut <br>
              📷 Photography : Adobe Lightroom, Adobe Photoshop<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="work">
      <div class="card-body">
        <div class="card-topic" style="color:rgb(255, 160, 83);">
            <b>History Projects</b>
        </div>
        <div class="card-text">
          <div id="text" style="font-size: 15px; padding-bottom: 15px;"><b>1Thing | Social Media Website (2023-2024)</b><a href="https://github.com/rememberurlie/1Thing" target="_blank" rel="noopener noreferrer">  ↗️</a><br>
            🔸	Used Angular Framework for development and Google Firebase for the database.<br>
            🔸	Designed with a minimalist concept, incorporating unique UI elements compared to popular social media platforms.<br>
            🔸	Features include essential social media functionality: account system (using Firebase Authentication), feed system (post, like, comment).<br>
          </div>
          <div style="font-size: 15px; padding-bottom: 15px;"><b>Namnuea Feed Store | E-Commerce Website (2024)</b><a href="https://github.com/rememberurlie/namnuea_feedstore" target="_blank" rel="noopener noreferrer">  ↗️</a><br>
            🔸	Focused on front-end development, with UI designs provided by a collaborator.<br>
            🔸	Features include account system, shopping cart, checkout for regular users, and management tools for items and orders for super users.
          </div>
          <div style="font-size: 15px; padding-bottom: 15px;"><b>Thingspad (2025)</b><a href="https://github.com/rememberurlie/thingspad" target="_blank" rel="noopener noreferrer">  ↗️</a><br>
            🔸	It's my internship project in 4th year of study<br>
            🔸  Webchat and Task Management for organization<br>
            🔸 It's can make private chats, create chat rooms for any projects and built in task management<br>
            🔸 Tech stack : React.js (Frontend), Firebase (Authentication, Firestore), Next.js (Next.js)<br>
          </div>
          <div style="font-size: 15px; padding-bottom: 5px;"><b>[Senior Project] Hand Gesture Controller in Windows using Web Camera (2025-2026)</b><br>
            🔸 Control Mouse and Windows Feature with hand gestures using a web camera.<br>
            🔸 Used Python for development, Mediapipe Library for marking hand skeleton and collect as dataset, bring to train with TensorFlow and get model to use for mapping key with Windows Feature (Change Dasktop, Media Controller)<br>
          </div>
        </div>
      </div>
    </div>
  </div>