.card {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 1px #dadada;
    background-color: rgb(255, 255, 255);
    color: #000000
}

img#rectangle{
    float: left;
    height: 7rem;
    border-radius: 20%;
    margin-right: 20px;
    transition: transform 0.5s;
    transition-delay: 0s;
}

img#rectangle:hover {
    transition: transform 0.5s;
    transition-delay: 0.6s;
    transform: scale(2);
}

img#scn-logo {
    transition: transform 0.3s;
    transition-delay: 0s;
}

img#scn-logo:hover {
    transition: transform 0.3s;
    transition-delay: 0s;
    transform: scale(1.5);
}

@keyframes gradientShadow {
    0% {
      box-shadow: 0 0 20px 5px #ff9ec7; /* Pastel Pink */
    }
    50% {
      box-shadow: 0 0 20px 5px #d1b3ff; /* Pastel Violet */
    }
    100% {
      box-shadow: 0 0 20px 5px #ffb3b3; /* Pastel Red */
    }
  }


.card:hover {
    transform: scale(1.05);
    animation: gradientShadow 3s infinite alternate;
}
.card {
    transition: transform 0.2s, background-color 0.3s, box-shadow 0.3s, border-color 0.3s, color 0.3s;
}

#name-title {
  font-size: 20px;
}

@media (min-width: 409px) { /* md and up */
  #name-title {
    font-size: 25px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Use center if you want horizontal centering too */
    height: 100%;
}

.card .card-body .card-topic {
    padding-bottom: 10px; font-size: 23px; 
}

/* Dark Mode Styles */
.dark-theme .card .card-body .card-text {
    color: #d6d6d6;
}

.dark-theme .card{
    background-color: #1a1a1a;
    border-color: #33333300;
    box-shadow: 0 0 20px 1px #181818;
}

/* Adjust links in dark mode for better visibility */
.dark-theme .card a {
    color: #8ab4f8; 
}

/* Adjust headings/bold text if needed */
.dark-theme .card .card-body .profile-info {
    color: #ffffff;
}