@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 40px 20% 40px 20%;
    font-family: "Reddit Sans", sans-serif;
    background-image: url("https://img2.pic.in.th/pic/seamless-pattern-of-funny-colorful-doodle-lines-a-creative-artistic-background-in-a-minimalist-style-for-children-or-a-fashionable-design-with-basic-shapes-memphis-style-vector.png");
}

@media screen and (max-width: 1000px) {
    body {
        margin: 40px 8% 40px 8%;
    }
}/* You can add global styles to this file, and also import other style files */
