@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 40px 20% 40px 20%;
    font-family: "Reddit Sans", sans-serif;
    /* Use relative path so it works when deployed, or keep absolute if local only */
    background-image: url("assets/wallpaper-light.png"); 
    transition: background-image 0.3s ease-in-out; /* Optional smooth transition */
}

/* Add this rule for dark mode */
body.dark-mode-body {
    background-image: url("assets/wallpaper-dark.png");
}

@media screen and (max-width: 1080px) {
    body {
        margin: 40px 8% 40px 8%;
    }
}/* You can add global styles to this file, and also import other style files */
